aiohappyeyeballs==2.4.4
aiohttp==3.10.11
aiosignal==1.3.1
amqp==5.3.1
aniso8601==7.0.0
annotated-types==0.7.0
anyio==4.5.2
asgiref==3.8.1
asn1crypto==1.5.1
async-timeout==4.0.3
attrs==25.3.0
backports.zoneinfo==0.2.1
billiard==4.2.1
celery==5.5.2
certifi==2025.4.26
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.2
click==8.1.8
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
cryptography==44.0.3
dataclasses-json==0.6.7
defusedxml==0.7.1
Deprecated==1.2.18
Django==3.2.25
django-cors-headers==4.4.0
django-filter==23.5
django-graphql-auth==0.3.15
django-graphql-jwt==0.3.1
exceptiongroup==1.3.0
frozenlist==1.5.0
graphene==2.1.9
graphene-django==2.13.0
graphene-file-upload==1.3.0
graphql-core==2.3.2
graphql-relay==2.0.1
greenlet==3.1.1
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.10
joblib==1.4.2
jsonpatch==1.33
jsonpointer==3.0.0
kombu==5.5.3
langchain==0.2.17
langchain-community==0.2.19
langchain-core==0.2.43
langchain-text-splitters==0.2.4
langsmith==0.1.147
lxml==5.4.0
marshmallow==3.22.0
multidict==6.1.0
mypy-extensions==1.1.0
numpy==1.24.4
orjson==3.10.15
oscrypto==1.3.0
packaging==24.2
pikepdf==9.2.1
pillow==10.4.0
promise==2.3
prompt-toolkit==3.0.51
propcache==0.2.0
psycopg2==2.9.10
py3dns==4.0.2
pycparser==2.22
pydantic==2.10.6
pydantic-core==2.27.2
pyhanko==0.26.0
pyhanko-certvalidator==0.26.8
PyJWT==1.7.1
PyMuPDF==1.24.11
pypdf2==3.0.1
pypng==0.20220715.0
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.2
qrcode==7.4.2
redis==6.1.0
reportlab==4.4.1
requests==2.32.3
requests-toolbelt==1.0.0
Rx==1.6.3
scikit-learn==1.3.2
scipy==1.10.1
singledispatch==4.1.0
six==1.17.0
sniffio==1.3.1
sqlalchemy==2.0.40
sqlparse==0.5.3
tenacity==8.5.0
text-unidecode==1.3
threadpoolctl==3.5.0
typing-extensions==4.13.2
typing-inspect==0.9.0
tzdata==2025.2
tzlocal==5.2
Unidecode==1.4.0
uritools==4.0.3
urllib3==2.2.3
validate-email==1.3
vine==5.1.0
wcwidth==0.2.13
wrapt==1.17.2
yarl==1.15.2
